{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Document</title>
    {% include 'snippets/styles.html' %}
</head>

<body>
    {% include 'snippets/navbar.html' %}
    <div id="content1" class="container section">
        <div class="row">
            <div class="col-lg-6 mt-5 pt-lg-5">
                <div class="contentBanner mt-lg-5 pt-lg-5">
                    <div class="pull-middle">
                        <h1 class="page-header" style="font-size: 50px; color:#585D63"></h1>
                        <p class="lead">

                        </p>

                    </div>

                </div>

            </div>

        </div>

    </div>
    {% include 'snippets/scripts.html' %}
</body>

</html>